<h1>Send invite</h1>
<img src="blabla.jpg" alt="blabla">
<div>
    <form method="post" action="/playdates/invite">
        <input type="text" name="inviteDesc" value="Describe your invitation">
        <input type="datetime-local" name="inviteDate">
        <button>Send invite</button>
    </form>
</div>