<nav class="navbar">
    <ul>
        <li><img src="/images/logo-mini.png"></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/add-pet">Add pet</a></li>
        <li><a href="/account/{{currentUser._id}}/edit">Edit account</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>