<nav class="navbar">
    <img src="/public/images/logo.png">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/pet/:id/edit">Edit Pet</a></li>
        <li><a href="/add-pet">Add pet</a></li>
        <li><a href="/account/edit">Edit account</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>