
<div class=""> 
<nav class="navbar">
    <ul>
        <li><img src="/images/logo-mini.png"></li>
        <li><a href="/home">HOME<a></li>
        <li><a href="/account/{{currentUser._id}}/edit">Edit account</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>

</div>


