<h1>WELCOME BACK {{user.name}}</h1>


<<<<<<< HEAD
You have XXX pets. 
=======
<body>
	<div class="container-home">
	{{> navbar}}
	{{currentUser.username}}
	{{{body}}}
>>>>>>> 52fc86406e2ae9a43bd30193434c35105ab521c0


{{#each pet}}
<div>
	{{> petCard}}

	</div>

{{/each}}