<h1>WELCOME BACK {{currentUser.name}}</h1>
{{> navbar}}

You have XXX pets. 
<body>
	<div class="container-home">
	
	
	{{{body}}}

<h1>WELCOME BACK</h1>


<p>You have XXX pets.</p>

{{#each pet}}
	{{> myPetCard}}
{{/each}} 