{{> navbar}}

<h1>WELCOME BACK {{currentUser.name}}</h1>



<body>
	<div class="container-home">
	
	
	{{{body}}}




<p>You have {{pet.length}} pets listed in pawpals </p>

{{#each pet}}
	{{> myPetCard}}
{{/each}} 