<h1>Woof, welcome {{currentUser.name}} !</h1>



<body>


	<div class="container-home">



		<div class="user-homepage">

			<p>You have {{pet.length}} pets listed in pawpals </p>
			<div id="addPet">
				<a href="/add-pet/">
					&#128062; Add a pet &#128062;
				</a>
			</div>
			<div class="user-pets-container">
				{{#each pet}}
				{{> myPetCard}}
				{{/each}}

			</div>