
<div class="page-container-index"> 
	<div class="welcome-container">
			<div>
			<img src="https://i.imgur.com/rt2LjrY.png" alt="logo">
			</div>

				<div class="wrapper">
					<div class="link-wrapper">
				<a href="/signin" class="welcome-link-signin zoom"> <span> Sign in </span></a>
					</div>
				</div>


			<div>
			<a href="/signup" class="welcome-link-signup"> Sign up </a>
			</div>
	</div>
		<div class="cat-bottom-pic">
		<img src="https://i.imgur.com/kx8FmUa.jpg" alt="catpic">
		</div>
</div>

	


