

<div class="welcome-container">
	<div>
		<h3> Welcome to pawpals ! </h3>
		<img src="/public/stylesheets/images/logo.png" alt="logo">
	</div>

	<div>
		<a href="/signin"> Sign in </a>
	</div>


	<div>
		<a href="/signup"> Sign up </a>
	</div>
</div>