<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>
  <body>


  




    {{#if isLoggedIn}}
    {{> navbar}}


    {{else}} 

<div class="container">

<h3> Welcome to pawpals ! </h3>
<br>
<a href="/signin"> Sign in </a>
<br>

  <a href="/signup"> Sign up </a>


{{/if}}

    {{{body}}}

    </div>

  
  </body>

  
</html>
