<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{#each css}}
    <link rel='stylesheet' href='/stylesheets/{{this}}' />
    {{/each}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
