<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />

  {{!-- <link rel='stylesheet' type="text/css" href='/stylesheets/editpet.css' /> --}}

  {{#each css}}
  <link rel='stylesheet' type="text/css" href='/stylesheets/{{this}}.css' />
  {{/each}}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">

  {{#each scripts}}
  <script src="/scripts/{{this}}" type="module"></script>
  {{/each}}

</head>

<body>

  {{#if isLoggedIn}}
  {{> navbar}}
  {{/if}}

  {{{body}}}

</body>


</html>