<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>
  <body>


  



<!--
    {{#if isLoggedIn}}
    {{> navbar}}


    {{else}} -->

<div class="container">


<!--
{{/if}}
-->

    {{{body}}}

    </div>

  
  </body>

  
</html>
