<section id='header'>
    <div>
        <div>
            <img src="/images/logo-mini.png" alt="logo">
        </div>
    </div>
    <h1 id="homepageTitle">
        pawPals
    </h1>
    <div id="signinButton">
        <a href="/signin"> <span> Sign in </span></a>
    </div>
</section>

<section id="purpose">
    <div id="hoverText">
        Find a pal for your pet ! Thousands of pets have already joined and waiting for new friends. Fun in perpective.
        Plan a date in a few minutes
    </div>
    <div id="commentsGrid">
        <div id="hoverComment">
            Cutesy : </br></br>
            "It was the best day of my life"
        </div>
        <div id="hoverComment">
            Batcat : </br></br>
            "Your dog fought well. RIP to him."
        </div>
        <div id="hoverComment">
            Archie :</br></br>
            "Would recommend to any 4 legged buddy"
        </div>
    </div>

</section>

<section id="howTo">

    <div>Create your profile</div>
    <div>Find your match</div>
    <div>Meet !</div>
</section>

<section id="footer">
    <div>Team pawpals</div>
</section>