<section id='header'>
    <div>
        <div>
            <img src="/images/logo-mini.png" alt="logo">
        </div>
    </div>
    <h1 id="homepageTitle">pawPals &#128062;
    </h1>
    <div id="signinButton">
        <a href="/home"> <span> Sign in / Sign up </span></a>
    </div>
</section>



<section id="purpose">
    <div id="hoverText">
        Find a pal for your pet ! Thousands of pets have already joined and waiting for new friends. Fun in perpective.
        Plan a date in a few minutes
    </div>

    <div id="commentsGrid">
        <div class="hoverComment">
            <div id="cutesy" class="commentPic">

            </div>
            "It was the best day of my life" </br></br>- Cutesy, Rome
        </div>
        <div class="hoverComment">
            <div id="batcat" class="commentPic">

            </div>
            "Your dog fought well. RIP to him."</br></br>- Batcat, Paris
        </div>
        <div class="hoverComment">
            <div id="archibald" class="commentPic">
            </div>

            "Would recommend to any 4 legged buddy"</br></br>- Archibald, London
        </div>
    </div>

</section>

<section id="howTo">
    <div id="howTo-signup">
        <h2>1 - Sign up !</h2>
        <img src="/images/signup.jpeg" alt="signup">
        <p>Sign up, fill your profile and your pet's infos</p>
    </div>
    <div id="howTo-search">
        <h2>2 - Match !</h2>
                <img src="/images/search.jpeg" alt="match">

        <p>Your pet's buddy is just a few clicks away. Use the search engine to find a playfriend that will have the
            same interests as yours.</p>
    </div>
    <div id="howTo-match">
        <h2>3 - Meet !</h2>        
        <img src="/images/match.jpeg" alt="meet">
        <p>Send a invitation to the other pet. Once he accepts the invite, get in touch with his owner and you are set.</p>
    </div>
</section>

<section id="footer">
    <div>Team pawPals   &#169;</div>
</section>