<div class="search-form">

    <h1>FIND A PLAYMATE</h1>
    <form id="search-filter-form" method="GET" action="/search/filter">
    <div>
        <select id='type-filter-form' class="mdb-select md-form colorful-select dropdown-primary" multiple searchable="Search here.." name="type">
            <option disabled selected>Choose your type of playdate</option>
            {{#each type}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            <input type='hidden'>
        </select>
        <select id='type-filter-form'class="mdb-select colorful-select dropdown-primary md-form" multiple searchable="Search here.." name="time">
            <option>Choose your type of playdate</option>
            {{#each time}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            <input type='hidden'>
        </select>
    </div>

    <button type="submit">SUBMIT</button>

    </form class="btn-save btn btn-primary btn-sm">

</div>



<div class="pet-search-container">
{{#each pet}}
{{> petCard}}
{{/each}}
</div>

