:root {
    --main-color1: rgba(185, 241, 140);
    --main-color1-transparent: rgba(185, 241, 140, 0.8);
    --main-color2: brown;
}

* {
    box-sizing: border-box;
}

#header,
#purpose,
#howTo,
#footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

#header {
    align-items: center;

}

#purpose {
    display: flex;
    height: 800px;
    background-image: url("./../images/homepage.jpeg");
    background-size: cover;
        flex-flow:column;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    border-radius: 20px;
    background-attachment: fixed;
    min-height: 500px; 
}

#hoverText {
    background-color: var(--main-color1-transparent);
    width: 250px;
    padding: 40px;
    font-weight: bolder;
    border-radius: 20px;
    margin: 40px;
}

#commentsGrid {
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.hoverComment {
    background-color: var(--main-color1-transparent);
    width: 30%;
    padding: 20px;
    border-radius:20px;
    font-size: small;
    font-style: italic;
    margin: 40px;
    position: relative;
}
.commentPic {
    position: absolute;
    top:  calc( 90% - 40px);
    left: calc( 90% - 40px);
    width: 80px;
    height: 80px;
    border-radius:50%;
    font-size: small;
    font-style: italic;
    background-size: cover;
    border: 2px solid var(--main-color1);
}

#cutesy {
    background-image: url("https://res.cloudinary.com/francoiscloudinary/image/upload/v1628003708/pawpals-profile-pics/ae50f6b5-8900-4e2b-b496-5a3416f113a7_z0wltl.jpg");
}

#batcat {
    background-image: url("https://res.cloudinary.com/francoiscloudinary/image/upload/v1628149297/pawpals-profile-pics/d51jwc4wmygjjphecjkk.jpg");
}


#archibald {
    background-image: url("https://res.cloudinary.com/francoiscloudinary/image/upload/v1628149129/pawpals-profile-pics/ao1dfijivb6qw1fxcftf.jpg");
}

#signinButton {
    border-radius: 10%;
    height: 20px;
}
#signinButton a{
    text-decoration: none;
    background-color: #fafafa;
    color:black;
}

#homepageTitle {
    font-size: xx-large;
    font-weight: 900;
}

#howTo {

}

#howTo div {
    width: 33%;
    border-radius: 20px;
    padding: 20px;
}

#howTo img {
    position: relative;
    width: 100%;
    border-radius: 20px;
    border: 5px solid var(--main-color1);
    margin: 0 auto;

}

#howTo p {
    position: relative;
    margin: 0 auto;
    padding: 20px;
}

#howTo h2 {
    position: relative;
    margin: 0 auto;
    padding: 20px;
}

#footer {
    background-color: var(--main-color1);
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    text-align: center;

}

#footer div {
    text-align: center;
    margin: auto;
    font-weight: bolder;
}