/* 
========================
      SEARCH FORM
========================
*/

:root {
  --main-color1: #b9f18c;
  --main-color2: grey;
  --background-color: #fafafa;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.search-section {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

h1 {
  color: black;
}

a {
  text-decoration: none;
}

#search-filter-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.pet-search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.pet-search-container img {
  width: 30%;
}

a.invite-link {
  text-align: right;
  color: var(--color-scheme-2);
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin: 1em;
}

.search-form-option {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.search-form-option:hover .dropdown-content {
  display: block;
}

.search-form-option ul li {
  list-style-type: none;
}

.search-btn {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  background: var(--main-color1);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 13px solid var(--main-color1);
  transition: transform 0.2s;
  border-radius: 10px;
  font-size: 1.5em;
}

.search-btn:hover {
  transform: scale(1.1); /* (150% zoom)*/
}

.reset-filter-btn {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  background: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid var(--main-color1);
  padding: 12px 12px 12px 12px;
  margin-bottom: 5px;
  transition: transform 0.2s; /* Animation */
  border-radius: 10px;
  font-size: 0.8em;
}

a.reset-filter-btn {
  color: var(--main-color1);
}

.reset-filter-btn:hover {
  transform: scale(1.1);
}

.pet-search-card {
  margin: 2em;
  background-color: white;
  width: 300px;
  height: 500px;
  padding: 2em;
  border: 3px solid var(--main-color1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.pet-search-card .photo-container {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 5px grey;
  align-self: center;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em;
}

.pet-search-card div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.pet-search-card a.title {
  color: var(--main-color2);
}

.pet-search-card a.title:hover {
  color: var(--main-color1);
}

.pet-search-card div:nth-child(2) p {
  align-self: center;
}

.pet-search-card button {
  margin-top: 3em;
}

.pet-search-card a.button {
  color: black;
}

.invite-btn {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--main-color1);
  padding: 1em 1.5em;
  font-size: small;
  border-radius: 10px;
  font-weight: bold;
  border: none;
}

.invite-btn:hover {
  transform: scale(1.1);
}
