body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-home {
  color: blue;
}

h1 {
  text-align: center;
  top: 20px;
  left: 20px;
  background-color: rgba(129, 120, 120, 0.767);
  padding: 20px;
  color: blue;
}

.signup-form-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.pet-list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.pet-list-card {
  background-color: white;
  width: 200px;
  padding: 1em;
  border: 1px solid rgba(128, 128, 128, 0.509);
  border-radius: 5px;
}

.pet-list-card a {
  text-decoration: none;
  color: black;
}
