:root {
  --color-scheme-1: rgba(192, 255, 156, 255);
  --color-scheme-2: rgba(148, 192, 169, 1);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

.background {
  display: -webkit-flex;
  height: 40vh;
  -webkit-align-items: flex-end;
  -webkit-justify-content: center;
  width: 100%;
}

nav ul li {
  list-style-type: none;
}

img {
  flex-shrink: 0;
}

a {
  color: #00b7ff;
}

/* SIGN-IN FORM*/

.sign-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
}

.sign-form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
}

.sign-form input {
  padding: 0.3em;
}

.error-message {
}

.signup-link-container {
  margin-top: 1em;
  font-size: 0.8em;
}

.signup-link-container p {
  font-size: 0.8em;
  margin: 0.2em;
}

.sign-btn {
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 3px 3px #eeeeee;
  border: 0.5px solid #eeeeee;
  margin: 0.2em;
  padding: 0.5em 1em;
  color: var(--color-scheme-2);
  font-weight: 600;
  background-color: white;
}

.sign-btn:hover {
  background-color: var(--color-scheme-2);
  color: white;
  box-shadow: -0.5px -0.5px;
}

/* SIGN-UP FORM*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-home {
  color: blue;
}

h1 {
  text-align: center;
  top: 20px;
  left: 20px;
  background-color: rgba(129, 120, 120, 0.767);
  padding: 20px;
  color: blue;
}

.signup-form-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.pet-list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.pet-list-card {
  background-color: white;
  width: 200px;
  padding: 1em;
  border: 1px solid rgba(128, 128, 128, 0.509);
  border-radius: 5px;
}

.pet-list-card a {
  text-decoration: none;
  color: black;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  padding-top: 15%;
}

.page-container {
  border: 5px solid #b9f18c !important;
  margin: 40px 40px 40px 40px;
  border-radius: 25px;
  flex-shrink: 0;
  height: auto;
}
