/* Style the tab */

:root {
  --main-color1: #b9f18c;
  --main-color2: brown;
}

.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  border-radius: 20px;
  margin-top: 1px;
  padding-left: 5px;
  

}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-radius: 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--main-color1);
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.inviteContainer {
  border: 2px solid var(--main-color1);
  box-sizing: border-box;
  border-radius: 5%;
  padding: 20px;
}

.invitePhoto {

  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;

}

.inviteText {
  padding: 10px;
  font-size: small;
}

.bold {
  font-weight: bold;
}

.inviteButtons a {
  text-decoration: none;
  background-color: var(--main-color1);
  height: 20px;
  width: 60px;
  padding: 10px;
  font-size: small;
  margin: 3px;
  color: black;
  border-radius: 5%;
}

.inviteButtons {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
}

.inviteDetailsGrid {

margin :0 auto;
display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 5px solid var(--main-color1);
  width: 80%;
  border-radius: 50px;
  margin-bottom: 30px;
  margin-top: 30px;

}

#invitePlay {
  text-decoration: none;
  background-color: var(--main-color1);
  width: 400px;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: large;
  font-weight: bolder;
  color: white;
}







#invitePlay a {
  text-decoration: none;
  background-color: var(--main-color1);
  color: black;

}

#invitePlay a:hover {
    transform: scale(1.5); /* (150% zoom)*/
}


.playdates-container {
  margin-top: 5%;
  
}

.playdates-card-container {
 
  border: 5px solid #b9f18c !important;
  margin: 50px 40px 40px 40px;
  border-radius: 20px;
  flex-shrink: 0;
  height: 90vh;
  padding-left: -25px;
  padding-top: -1px;
padding-right: -4px;
}

.horizontalgrid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 800px;
  padding: 20px;
}


#addPet {
  text-decoration: none;
  background-color: var(--main-color1);
  width: 400px;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: large;
  font-weight: bolder;
}

#addPet a {
  text-decoration: none;
  background-color: var(--main-color1);
  color: black;

}


#tabcontent {
  border: white;
}

h1 {
  text-align: center;
  padding-bottom: 1%;
}