/* Style the tab */

:root {
  --main-color1: #b9f18c;
  --main-color2: brown;
}

.tab {
  overflow: hidden;
 
  background-color: #f1f1f1;
border-radius: 15px;
margin-top: 1%;

}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-radius: 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--main-color1);
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.inviteContainer {
  border: 2px solid var(--main-color1);
  box-sizing: border-box;
  border-radius: 5%;
  padding: 20px;
}

.invitePhoto {
  width: 100%;
  border-radius: 50%;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.inviteText {
  padding: 10px;
  font-size: small;
}

.bold {
  font-weight: bold;
}

.inviteButtons a {
  text-decoration: none;
  background-color: var(--main-color1);
  height: 20px;
  width: 60px;
  padding: 10px;
  font-size: small;
  margin: 3px;
  color: black;
  border-radius: 5%;
}

.inviteButtons {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
}

.inviteDetailsGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}

#invitePlay {
  text-decoration: none;
  background-color: var(--main-color1);
  width: 400px;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: large;
  font-weight: bolder;
}

#invitePlay a {
  text-decoration: none;
  background-color: var(--main-color1);
  color: black;
}


.playdates-container {
  margin-top: 4%;
  
}

.playdates-card-container {
 
  border: 5px solid #b9f18c !important;
  margin: 40px 40px 40px 40px;
  border-radius: 25px;
  flex-shrink: 0;
  height: 90vh;
}

.horizontalgrid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 800px;
  padding: 20px;
}


#addPet {
  text-decoration: none;
  background-color: var(--main-color1);
  width: 400px;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: large;
  font-weight: bolder;
}

#addPet a {
  text-decoration: none;
  background-color: var(--main-color1);
  color: black;
}
